body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

p {
  color: #8f8f8f;
}


/* Heading */

.big-heading {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-height: 1.5;
}


.section-heading {
  font-size: 3rem;
  line-heigt: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  margin: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-light';
}

/* Download Button */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* Section Colours */

.coloured-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Title */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Feature section  */
#features {
  position: relative;
}

.feature-box {
  padding: 5%;
}

.feature-title {
  font-size: 1.2rem;
}

.icon {
  color: #EF8172;
  padding-bottom: 1rem;
}

.icon:hover {
  color: #ff4C68;
}

/* Testimonial Section */
#testimonials {
  background-color: #EF8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}


.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press */
#press {
  background-color: #EF8172;
  padding: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.cta-heading {
  padding: 7% 15% 0;
  font-family: 'Montserrat';
  font-size: 3.5rem;
  line-heigt: 1.5;
}

/* Footer */


.icon-footer {
  color: #000;
  margin: 10px 8px;
}

.icon-footer:hover {
  color: #ff4C68;
}
/* Media Queries */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
